<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>projweb</display-name>
	<listener>
		<listener-class>fr.dawan.projweb.controleurs.MyNbVisiteursListener</listener-class>
	</listener>
	<servlet>
		<description>
  	</description>
		<display-name>AdminQcm</display-name>
		<servlet-name>AdminQcm</servlet-name>
		<servlet-class>fr.dawan.projweb.controleurs.AdminQcm</servlet-class>
		<init-param>
			<description>...</description>
			<param-name>annee</param-name>
			<param-value>2012</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminQcm</servlet-name>
		<url-pattern>/AdminQcm</url-pattern>
	</servlet-mapping>

	<!-- <listener> <listener-class>fr.dawan.projweb.controleurs.MyStartupListener</listener-class> 
		</listener> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
